You are logged in !!


<form action="{{ path('get_products') }}" method="get">
    <button type="submit">Product Lists</button>
</form>
<form action="{{ path('new_product') }}" method="get">
    <button type="submit">Add New Product</button>
</form>
<form action="{{ path('_login') }}" method="get">
    <button type="submit">Logout</button>
</form>

